// fonts
// @include fontface($opensans, 'opensans-regular-webfont');
// $opensans === name font into file
// opensans-regular-webfont === name of the font on  the folder

html, body{
  height: 100%;
}

body{
 
 background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:before{
  -webkit-font-smoothing: antialiased;
}

a{
  cursor:pointer;
}

