.Slider{
  position: relative;
  background-color: #000;
  width: 100%;
  height: 100%;

  // element container --------------------
  @at-root #{&}__contain{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @at-root #{&}__next{
    
    .Slider__item{
      width: 30%;
       transition: width 0.5s .5s;
    }
  }

  @at-root #{&}__active{
    
    .Slider__item{
      width: 100%;
      transition: width 0.5s;
    }
  }

  @at-root #{&}__anchor{

    .slider__item{
      
    }
  }


  // slider -------------------------------
  @at-root #{&}__item{
    width: 0;
    height: 100%;
    position: absolute;
    overflow: hidden;

    top: 0;
    right: 0;
    bottom: 0;

    transition: width 0.5s ;
  }

  // contain bg ---------------------------
  @at-root #{&}__bg{
    width: 100vw;
    height: 100%;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
  }

  // slider hit ---------------------------
  @at-root #{&}__hit{
    position: absolute;
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: #fff;
    transition: opacity .5s;

    &:hover{
      opacity: .3;

      transition: opacity .5s;
    }
  }

}




















