//-head
head
  title Slider
  //- meta info
  meta(name="title", content="Slider")
  meta(name="description" content="Slider")
  meta(name="keywords", content="Slider, slider javascript")
  //- general
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(charset="UTF-8", http-equiv="Content-Type", content="text/html")
  //- css
  link(href="assets/styles/index.css", rel="stylesheet")