doctype html
html(lang="en")

  //- include head
  include _head.pug

  body
    
    //- include footer
    include _Slider.pug

    //- scripts 
    script(type="application/javascript" src="assets/scripts/index.js")